.landing-bg {
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 100;
  font-size: 100px;
  padding-top: 200px;
  padding-bottom: 130px;
}

p.caption {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 5px;
}
