<div class="row login">
  <h1>HOME</h1>
  <!-- login button -->
  <!-- <ul class="nav navbar-nav navbar-right">
    <li>
      <oauth
      site="https://ivle.nus.edu.sg/api/login/"
      client-id="yWIyIVdgoDbQz9EUdJ06x"
      redirect-uri="http://0.0.0.0:5000/loggedIn"
      scope="token">
    </oauth>

    < <oauth2
    authorization-url="https://ivle.nus.edu.sg/api/login/"
    client-id="yWIyIVdgoDbQz9EUdJ06x"
    redirect-url="http://0.0.0.0:5000/loggedIn"
    response-type="token"
    scope="openid"
    >
  </oauth2>
</li>
</ul> -->

<!-- <button ng-click="login()" class="huge ui youtube button">
  <i class="youtube icon"></i>
  Login
</button> -->
</div>
