<div class="row login"></div>
<div class="container demo-1">
  <div class="content">
    <div id="large-header" class="large-header">
      <canvas id="demo-canvas"></canvas>
      <h1 class="main-title">NUS<span class="thin">Learn</span><br><p class="custom-align" style="font-size:12px" >A curated list of YouTube Videos for online learning <br>created for NUS students</p></h1>
    </div>
  </div>
</div>
<!-- login button -->
<!-- <ul class="nav navbar-nav navbar-right">
<li>
<oauth
site="https://ivle.nus.edu.sg/api/login/"
client-id="yWIyIVdgoDbQz9EUdJ06x"
redirect-uri="http://0.0.0.0:5000/loggedIn"
scope="token">
</oauth>

< <oauth2
authorization-url="https://ivle.nus.edu.sg/api/login/"
client-id="yWIyIVdgoDbQz9EUdJ06x"
redirect-url="http://0.0.0.0:5000/loggedIn"
response-type="token"
scope="openid"
>
</oauth2>
</li>
</ul> -->

<!-- <button ng-click="login()" class="huge ui youtube button">
<i class="youtube icon"></i>
Login
</button> -->
