<div class="ui top attached tabular menu">
  <a class="item" ng-class="{'active': isSearch}" ng-click="chooseThis()">
    Search
  </a>
  <a class="item" ng-class="{'active': !isSearch}" ng-click="chooseThis()">
    Suggest
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input" ng-if="isSearch">
        <input type="text" ng-model="searchTerm.term" placeholder="Search..." ng-change="search(searchTerm.term)">
        <i ng-click="clear()" class="remove link icon"  ng-show="searchTerm.term.length >= 1"></i>
      </div>
    </div>
  </div>
</div>
<div class="ui bottom attached segment">
  <!-- this is for searching -->
  <div ng-if="isSearch">
    <!-- <p ng-repeat="(code, name) in modules">{{code}} - {{name}} </p> -->
    <div ng-repeat="(code, vidInfo) in moduleLinks">
      <br>
      <h2>{{code}}</h2>
      <br>

      <p ng-if="!moduleLinks[code].length" class="novideos">
        We currently do not have videos for this search term. We welcome your suggestions!
      </p>

      <div class="ui link stackable cards">
        <div class="card" ng-repeat="entry in vidInfo">
          <div class="video-container">
            <div class="fluid embed-responsive embed-responsive-16by9">
              <!-- <iframe ob-lazytube class="embed-responsive-item" ng-src="{{::entry.vid_link | trustUrl}}"> </iframe> -->
              <div ob-lazytube="{{::entry.vid_link}}">

              </div>
            </div>
            <!-- <div class="youtube" id="LcIytqkbdlo" style="width: 320px; height: 180px;"></div> -->
            <!-- <div class="youtube-container">
            <div class="youtube-player" ng-src="{{::entry.vid_link | trustUrl}}"></div>
          </div> -->
        </div>
        <div class="content">
          <div class="header">{{::entry.vid_title}}</div>
          <div class="meta">
            <a>{{::code}}</a>
          </div>
          <div class="description wrap">
            {{::entry.vid_desc}}
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <button class="ui icon green button" ng-disabled="entry.hasVoted == 1" ng-click="thumbsup(entry.vid_link, searchTerm.term)">
              <i class="thumbs up icon"></i>
            </button>
            <button class="ui icon red button" ng-disabled="entry.hasVoted == -1" ng-click="thumbsdown(entry.vid_link, searchTerm.term)">
              <i class="thumbs down icon"></i>
            </button>
          </span>
          <span>
            {{::entry.votes}} <i class="star icon"></i>
          </span>
        </div>
      </div>
      <br>
      <hr>
    </div>
  </div>

</div>

<!-- this is for suggesting modules -->
<div ng-if="!isSearch" class="suggest">
  <div class="ui attached message">
    <div class="header">
      Found a great video to share?  </div>
      <p>Let us know!</p>
    </div>
    <form class="ui form attached fluid segment" novalidate>
      <div class="field">
        <div class="field">
          <label>YouTube Link</label>
          <input placeholder="eg. https://www.youtube.com/watch?v=ZXsQAXx_ao0" type="text" ng-model="submit.link">
        </div>
        <div class="field">
          <label>Module Code</label>
          <input placeholder="eg. CS1010" type="text" ng-model="submit.code">
        </div>
      </div>
      <div class="field">
        <label>Tags</label>
        <input placeholder="eg. algorithms" type="text" ng-model="submit.tags">
      </div>

      <!-- <div class="inline field">
      <div class="ui checkbox">
      <input type="checkbox" id="terms">
      <label for="terms">I agree to the terms and conditions</label>
    </div>
  </div> -->
  <button ng-disabled="!submit.link && (submit.code == "" || submit.tags == "")" class="ui button" ng-click="suggest()" ng-class="{'youtube': submit.link && (submit.code || submit.tags)}">
    <i class="large icons">
      <i class="youtube play icon"></i>
      <i class="inverted corner add icon"></i>
    </i>
    Suggest Video
  </button>
</form>
<div ng-if="good" class="ui bottom attached success message">
  <i class="check square icon"></i>
  Thanks for sharing!
</div>
<div ng-if="modprob" class="ui bottom attached negative message">
  <i class="warning sign icon"></i>
  Sorry, that module does not exist! You might want to check it.
</div>
<div ng-if="linkprob" class="ui bottom attached negative message">
  <i class="warning sign icon"></i>
  Sorry, that link looks invalid! You might want to check it.
</div>
<div ng-if="noted" class="ui bottom attached negative message">
  <i class="warning sign icon"></i>
  Sorry, that link doesn't seem to contain educational content!
</div>
</div>
</div>
